.button {
    cursor: pointer;
    border: none;

    &.text {
        border-radius: 8px;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        transition: 0.2s;
        letter-spacing: 0.5px;
        padding: 4px 8px;
    }

    &.only-icon {
        background-color: transparent;
        padding: 0;
        height: 40px;
    }

    &.modal-button {
        padding: 8px;
        height: 36px;
        width: 153px;
    }

    //Icon classes
    &.plus-icon {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;

        circle {
            transition: 0.5s;
        }

        svg:hover {
            fill: white;
            circle {
                fill: #38a576;
            }
        }
    }

    &.close-button {
        position: absolute;
        top: 8px;
        right: 14px;

        svg {
            transition: 0.2s;
        }

        svg:hover {
            opacity: 0.5;
        }
    }

    // Icon colors
    &.default {
        background-color: rgb(112, 110, 110);

        &:hover {
            background-color: rgb(81, 81, 81);
        }
    }

    &.info {
        background-color: #1e50ff;

        &:hover {
            background-color: #1841d6;
        }

        &:disabled {
            opacity: 0.3;
            cursor: default;
            background-color: #1e50ff;
        }
    }

    &.danger {
        background-color: rgba(30, 80, 255, 0.1);
        border: 1px solid #1e50ff;

        &:hover {
            background: rgba(255, 38, 30, 0.1);
            border: 1px solid #ff471e;
            color: #f4cbc2;
        }
    }
}
